.inputContainer {
   position: relative;
   width: 100%;

   input {
      padding: 24px;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      border: none;
      box-shadow: 0px 0px 4px 0px hsla(266, 57%, 61%, 0.4);
      outline: none;
   }

   .searchIcon {
      position: absolute;
      top: 16px;
      right: 24px;
   }
}

.searchTermContainer {
   position: absolute;
   width: 100%;
   top: 52px;
   background-color: white;
   list-style: none;
   border: 1px solid #dadada;
   box-shadow: 0px 0px 4px 0px hsla(266, 57%, 61%, 0.4);

   li {
      display: flex;
      justify-content: space-between;
      padding: 8px 24px;

      &:not(:first-child) {
         border-top: 1px solid #dadada;
      }
   }
}

.title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 100%;
   color: #545454;
}

.company {
   //styleName: Regular 12;
   font-family: Poppins;
   font-size: 12px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 0em;
   text-align: right;
   color: #545454;
}
