@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.filtersWrapper {
   margin-top: 45px;

   h1 {
      font-family: Poppins;
      font-size: 27px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: -0.07em;
   }
}

.filtersContainer {
   padding: 24px;
   border: 1px solid #dadada;
   border-radius: 5px;
}

.headerContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 100px;
   padding-bottom: 16px;

   .title {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: -0.05em;
   }

   .clear {
      font-family: Poppins;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: right;

      cursor: pointer;

      &:hover {
         color: #9564d4;
      }
   }
}
