.jobsWrapper {
   display: flex;
   flex-direction: column;
   padding: 0 40px;
   background-color: #f8f8f8;
   height: 100vh;
   margin-top: 45px;
}

.searchContainer {
   display: flex;
   gap: 12px;
}

.inputContainer {
   position: relative;

   input {
      width: 350px;
      height: 50px;
      border-radius: 5px;
   }

   svg {
      position: absolute;
      bottom: 7px;
      right: 7px;
   }
}
